  <div class="card col-2 sm-2 md-2 lg-2 mx-3 py-3 mb-1" style="width: 18rem;">
    <img src="..." class="card-img-top mx-2 py-2" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= booking.product.name %></h5>
      <p class="card-text"><%= booking.booking_price %> $USD</p>
      <a href="#" class="btn btn-primary">Ver detalles</a>
    </div>
  </div>

