<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class= "text-carousel">
   <h1> Find your equipments here </h1>
  </div>
  <div class="carousel-inner" row 6>
    <div class="carousel-item active">
      <img src="https://images.pexels.com/photos/257970/pexels-photo-257970.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="d-block w-100" alt="Baseball image">
    </div>
    <div class="carousel-item">
      <img src="https://images.pexels.com/photos/209977/pexels-photo-209977.jpeg?auto=compress&cs=tinysrgb&w=600" class="d-block w-100" alt="Tenis image">
    </div>
    <div class="carousel-item">
      <img src="https://images.pexels.com/photos/6655480/pexels-photo-6655480.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="d-block w-100" alt="Archery image">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<nav class="nav nav-pills nav-fill">
  <div class="text-center">
   <i class="fa-solid fa-bicycle"></i>
   <a class="nav-link active" aria-current="page" href="#">Cycling </a>
  </div>
  <div class="text-center">
   <i class="fa-solid fa-volleyball"></i>
   <a class="nav-link disable">Voley</a>
  </div>
  <div class="text-center">
   <i class="fa-solid fa-person-hiking"></i>
   <a class="nav-link disable">Hiking</a>
  </div>
  <div class="text-center">
   <i class="fa-solid fa-table-tennis-paddle-ball"></i>
   <a class="nav-link disabled">Tenis</a>
  </div>
  <div class="text-center">
   <i class="fa-solid fa-person-skiing"></i>
   <a class="nav-link disabled">Skiing</a>
  </div>
  <div class="text-center">
   <i class="fa-solid fa-basketball"></i>
   <a class="nav-link disabled">Basketball</a>
  </div>
  <div class="text-center">
   <i class="fa-solid fa-golf-ball-tee"></i>
   <a class="nav-link disabled">Golf</a>
  </div>
  <div class="text-center">
   <i class="fa-solid fa-table-tennis-paddle-ball"></i>
   <a class="nav-link disabled">baseball</a>
  </div>
</nav>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Airbnbsport <i class="fas fa-heart"></i>
  </div>
</div>
