<div class="container-fluid align-items-center justify-content-center bg-white">
  <div class="text-center text-black bg-white">
    <h1>Products</h1>
</div>

<div class="list-group align-items-left justify-content-left col-2 lg-2">
    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Sports</a>

    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Basquet</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-success" >Tennis</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Football</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Hockey</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Swimming</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Golf</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Paddle</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Gym</a>
  </div>
</div>
