<div class="card text-center">
  <div class="card-header">
    Catalog
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= "Hola" %></h5>
    <p class="card-text"><%= "hola" %></p>
  </div>
  <div class="card-footer text-muted">
    <%= "id deporte" %>
  </div>
</div>
